# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dora\OneDrive\Desktop\proiectmaster\iaisc-2020-ssatr-31211-bogdan-dora\tema-3\capsules\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
